$red: #ef353d;
$cyan: #7ec0bf;
$gold: #e4a706;
$turquoise: #23ae8f;
$green: #53a270;
$grey: #585858;
$charcoal: #343434;
$off-grey: #908b80;
$black: #000;
$white: #FFF;

$facebook:          #3B5998;
$secure:            #8EE797;
$paypal:            #C6F0F4;

@mixin animation($element,$time,$ease) {
    webkit-transition: $element $time $ease;
    -moz-transition: $element $time $ease;
    -o-transition: $element $time $ease;
    transition: $element $time $ease;
}

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.black {
  color: black
}

.content {
	opacity: 0;
	transition: opacity 1s ease-in;
}

.loaded {
	opacity: 1;
}

.toggle {
  margin-left: 300px;
}

.code {
  position: fixed;
  right: 0;
  width: 80%; 
  z-index: 200;
  height: 100%;
  top: 0;
  padding: 25px;
  display: none;
  background: $charcoal;
  color: $white;
  @include animation(all,0.3s,linear);
}

.active {
  display: inline-block !important;
}

#syntax {
  border: 0;
  overflow-y: auto;
  width: 100%;
  height: 100%;
  color: lighten($charcoal,45%);
  background: lighten($charcoal,10%);
}

label {
	font-weight: normal;
	font-size: 12px;
	color: #aaa;
}

.panel-body {
	padding: 10px;
}

.template-tab {
  padding: 10px;
  background-color: $charcoal;
  color: #fff;
  display: block;
  border: 0;
  width: 100%;

  &:hover {
    background-color: #444;
    text-decoration: none;
    color: #fff;
    cursor: pointer;
  }

}

 .template-tab.active {
    background-color: #444;
  }

.sidebar {
    position: fixed;
  	top: 0;
  	left: 75px;
  	width: 300px;
  	background-color: #FBFDFF; // #E5678F
  	height: 100%;
  	overflow-y: auto;
    display: none;
    z-index: 100;

    &__flex {
        display: flex;
        flex-direction: column;
    }

    &__card {
        position: relative;
        background-color: #fff;
        flex: 1;
        margin: 10px;
        border: 2px solid #EFF1F4;

        h4 {
            margin: 0 0 5px 0;
            font-weight: 300;
            font-style: normal;
        }

        label {

        }
    }

    &__card-title {
        padding: 10px;
        background: #EFF1F4;
        display: inline-block;
        width: 100%;
        color: darken(#EFF1F4,60%);

        h4 {
          font-size: 16px;
          color: darken(#EFF1F4,60%);
          margin: 0;
          font-weight: bold;
        }

    }

}

.options {
  position: fixed;
  left: 0;
  top: 0;
  background: #efefef;
  width: 75px;
  display: flex;
  flex-direction: column;
  height: 100%;
  z-index: 200;

    &__item {
      background-color: #33404D;
      color: lighten(#33404D,30%);
      border: 0;
      border-bottom: 1px solid lighten(#33404D,5%);
      font-size: 20px;
      flex: 1;
      height: 75px;

      &-tooltip {
        display: none;
        position: absolute;
        padding: 5px 10px;
        background-color: darken($charcoal,10%);
        color: $white;
        left: 60px;
        font-size: 12px;
        border-radius: 10px;
        width: auto;
        float: left;
      }

    }

    &__item.active {
      background-color: $white;
    }

    &--save {
      background-color: #C6F0F4;
      border-bottom: none;
      color: #79C0C0;
    }

}

.options__item:hover .options__item-tooltip {
  display: block;
}

.options-add {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: flex-start;
  align-content: flex-start;
  height: 100%;
  padding-left: 5px;
  padding-right: 5px;

  &__item {
    flex-shrink: 1;
    flex-basis: auto;
    align-self: auto;
    width: 50%;

    .inset {
      margin: 5px;
      display: inline-block;
    }

    img {
      width: 100%;

      &:hover {
        opacity: 0.75;
      }
      
    }
  }

}

.order-block {
  position: absolute;
  left: -50px;
  top: 0;
  background-color: #EF4323;
  padding: 10px;
  font-size: 12px;
  color: $white;
}

.colour-scheme {
	position: fixed;
	left: 300px;
	top: 0;
	background: #121212;
	width: 75px;
  opacity: 0;
  height: 100%;
  @include animation(all,0.3s,linear);
  overflow-y: auto;

  &__colour {
      padding: 20px 8px;
      font-size: 12px;
      display: block;
      width: 75px;
      height: 75px;
      text-align: center;
    }

    .red {
      background: $red;
      color: darken($red,30%);
    }

    .cyan {
      background: $cyan;
      color: darken($cyan,30%);
    }

    .gold {
      background: $gold;
      color: darken($gold,30%);
    }

    .turquoise {
      background: $turquoise;
      color: darken($turquoise,30%);
    }

    .green {
      background: $green;
      color: darken($green,30%);
    }

    .grey {
      background: $grey;
      color: darken($grey,30%);
    }

    .charcoal {
      background: $charcoal;
      color: darken($charcoal,30%);
    }

    .off-grey {
      background: $off-grey;
      color: darken($off-grey,30%);
    }

    .black {
      background: $black;
      color: lighten($black,30%);
    }

    .white {
      background: $white;
      color: darken($white,30%);
    }

    .facebook {
      background: $facebook;
      color: darken($facebook,30%);
    }

    .secure {
      background: $secure;
      color: darken($secure,30%);
    }

    .paypal {
      background: $paypal;
      color: darken($paypal,30%);
    }

}

.colour-scheme.active {
  opacity: 1;
  left: 375px;
}

.z-depth-0 {
  box-shadow: none !important; }

.z-depth-1, nav, .card-panel, .card, .toast, .btn, .btn-large, .btn-floating, .dropdown-content, .collapsible, .side-nav {
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12); }

.z-depth-1-half, .btn:hover, .btn-large:hover, .btn-floating:hover {
  box-shadow: 0 5px 11px 0 rgba(0, 0, 0, 0.18), 0 4px 15px 0 rgba(0, 0, 0, 0.15); }

.z-depth-2 {
  box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); }

.z-depth-3 {
  box-shadow: 0 12px 15px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19); }

.z-depth-4, .modal {
  box-shadow: 0 16px 28px 0 rgba(0, 0, 0, 0.22), 0 25px 55px 0 rgba(0, 0, 0, 0.21); }

.z-depth-5 {
  box-shadow: 0 27px 24px 0 rgba(0, 0, 0, 0.2), 0 40px 77px 0 rgba(0, 0, 0, 0.22); }

.hoverable:hover {
  transition: box-shadow .25s;
  box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); }

.btn-delete {
  float: right;
  border: 0;
  box-shadow: none;
  background-color: transparent;
  padding: 0;
  padding-right: 5px;
  color: red;

  &:hover {
    box-shadow: none;
    color: lighten(red,10%);
  }
}

.panel-default>.panel-heading {
  border: 0;
  background-color: transparent;
}

.panel-sub-heading {
  font-size: 14px;
  color: lighten(#343434,0%);
  display: inline-block;
  margin: 15px 0 10px 0;
}

.panel-default {
  border: 0;
}

.panel-heading {
  padding: 0px;
}

.panel-default > .panel-heading {
  background-color: darken(#EFF1F4,5%);
  border-radius: 0px;
}

.panel-tabs {
  display: inline-block;
  width: 100%;

  &__tab {
    color: darken(#EFF1F4,25%);
    padding: 10px;
    display: inline-block;

    &.active {
      background-color: $white;
      color: darken(#EFF1F4,25%);
    }

  }

}

.panel {
  box-shadow: none;
}

.panel-body {
    padding: 10px 10px 0 10px;
}

.toggle-toolbar {
  position: absolute;
  top: 15px;
  right: 15px;
  z-index: 100;
}

.form-control {
  border-radius: 0px;
  box-shadow: none;
  border-color: #EFF1F4;
  border-width: 2px;

  &:focus {
    box-shadow: none;
  }

}

